* {
  margin: 0;
  padding: 0;
}
.App {
  overflow: hidden;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.form__single {
  display: flex;
  flex-direction: column;
  width: 25%;
  /* margin: 0% 1%; */
}

.form__single.input1 {
  width: 100%;
}

.form__single.input2 {
  width: 50%;
}

.form__single.input3 {
  width: 33.33%;
}

.form__single.input4 {
  width: 25%;
}

.form__single.input5 {
  width: 18%;
}
.textarea {
  margin-top: 10px;
  width: 100%;
}
.textarea textarea {
  width:100%;
}

